@font-face {
    font-family: Space Grotesk;
    src: url(/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
@font-face {
    font-family: Playfair Display;
    src: url(/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

.body{
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: "brightness(0)";
    height: 100vh;

}   


.navContainer{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 6rem;
    width: 100vw;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    gap: .7rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.navItem{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.navItem-link{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: .7rem;
    width: 100%;
    min-width: 200px;
    object-fit: fill;
    opacity: 30%;
}
.navItem-link.active{
    opacity: 100%;

}

.navItem-title{
    font-family: "Space Grotesk";
    font-size: 3rem;
    white-space: nowrap;

}

.navItem-subtitle{
    font-family: "Playfair Display";
    font-size: .8rem;
    margin-bottom: .8rem;
}



/*MQ para móviles*/

@media screen and (max-width : 650px) {
    .body{
        justify-content: flex-start;
        align-items: flex-start;
    } 

    .navContainer{
        margin-top: 2rem;
        margin-left: 1rem;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: max-content;

    }

    .navItem-link{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .navItem-title{
        font-size: 2rem;
    }
}

/*MQ para tablets*/

@media screen and (min-width: 650px) and (max-width: 768px){

    .body{
        justify-content: flex-start;
        align-items: flex-start;
    } 


    .navContainer{
        margin-top: 2rem;
        margin-left: 1rem;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
  
    }
  
    .navItem-link{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
 
  }



/*MQ para pantallas grandes*/

@media (min-width: 1280px) and (max-width: 3000px) {

    .navItem-title{
        font-size: 4rem;
    }

    .navItem-subtitle{
        font-size: 2rem;
    }
}